.navbar-container{

    margin: 0;

    background-color: rgba(12, 2, 2, 0.979);
    
    padding: 30px ;

    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
   

}
.website-title{
    font-size: 30px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}
.navbar-logOut-button{
    /* background-color: rgb(148, 20, 20); */

    background-color: rgba(0, 0, 0, 0.808);
    padding: 10px;
    border-radius: 10px;
    
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
    border: none;
}


.navbar-logOut-button:hover{
    background-color: rgb(90, 16, 16);
    color: white;
}

.navbar-user-photo{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 3px solid rgb(255, 255, 255);
}