

.review-card-container{

    border: 1px solid rgb(14, 13, 13);
   
    border-radius: 10px;
   padding: 20px;

   margin-top: 50px;

   margin-bottom: 150px;

 

}
.review-name{
    font-size: 17px;
    margin-bottom: 15px;
}

.review-img{
     
    width: 50px;
    height: 50px;
    border-radius: 100%;

    margin-bottom: 20px;
}

.review-card-container:hover{
  
    color: white;

   box-shadow: 20px 20px 20px  black;
   border: none;
  

    background: #1D4350;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A43931, #1D4350);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A43931, #1D4350); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    transition: 3s;

}