
.home-slider-container{
   
    border-bottom: 20px solid rgb(46, 17, 17);
   
    box-shadow: 15px 15px 15px black ;
    
 
    
}
.home-slider-text-container{
    position: absolute;
    bottom: 10%;
    left: 15%;

}

.home-slider-img{
   
    width: 100%;
    height: 600px;
    
   
}
.home-slider-h2{
    color: rgb(247, 252, 255);
    font-size: 60px;
    font-weight: 700;
    

}
.home-slider-text{
    font-size: 30px;

    font-family: 400;

    color: white;
  

}

.home-slider-container:hover .home-slider-h2{

    border-bottom: 50px solid rgba(0, 0, 0, 0);
    border-top: 50px solid rgba(0, 0, 0, 0); 

    border-radius: 100%;

   
   
  transition: 2s;

}

.home-slider-container:hover{
   
    
    border-bottom: 20px solid rgb(0, 0, 0);
    
   
    box-shadow: 50px 50px 50px black ;
    
   
    
   

    transition: 2s;
}



@media only screen and (max-width: 750px) {

    .home-slider-text-container{
      
        left: 5%;

        bottom: 10%;

    }
    
    .home-slider-h2{
        color: rgb(247, 252, 255);
        font-size: 20px;
        font-weight: 700;
        
    
    }
    .home-slider-img{
   
        width: 100%;
        height: 400px;
        
       
    }

    .home-slider-text{
        font-size: 15px;
    
        font-family: 400;
    
        color: white;
      
    
    }

  }